<div class="container">
  <div class="row">
    <div class="col-3">
      <ul class="nav flex-column">
        <li class="d-flex nav-item" *ngFor="let category of $categories | async">
          <a class="close" [routerLink]="[{outlets: {popup: ['category', category.category_id, 'delete']}}]">
            <span aria-hidden="true">&times;</span>
          </a>
          <a class="nav-link" [routerLink]="['./']" [queryParams]="{category_id: category.category_id}">
            {{category.name}}
          </a>

        </li>
        <li class="d-flex nav-item">
          <a class="nav-link" [routerLink]="['./']" [queryParams]="{}">Без категории</a>
        </li>
      </ul>
    </div>
    <div class="col-9">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button class="btn btn-secondary" (click)="createModal.show()" type="button">Добавить товар</button>
        <button class="btn btn-secondary" (click)="categoryModal.show()" type="button">Добавить категорию</button>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Название товара</th>
            <th>Цена / закуп</th>
            <th>Цена</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of $products | async">
            <th scope="row">{{product.id}}</th>
            <td>{{product.name}}</td>
            <td>{{product.salePrice}}</td>
            <td>{{product.price}}</td>
            <td>
              <a class="btn btn-secondary" [routerLink]="[{outlets: {popup: [product.id, 'delete']}}]">Удалить</a>
              <a class="btn btn-secondary" [routerLink]="[{outlets: {popup: [product.id, 'edit']}}]">Изменить</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #categoryModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="CategoryCreateModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Добавить категорию</h4>
        <button class="close" type="button" aria-label="Закрыть" (click)="categoryModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createCategory" *ngIf="!createCategorySubmitted" (ngSubmit)="createCategoryOnSubmit(createCategory)" novalidate>
          <div class="form-group">
            <label class="sr-only" for="categoryCreateInputName">Название</label>
            <input class="form-control" id="categoryCreateInputName" formControlName="name" type="text" placeholder="Название">
          </div>
          <div class="text-center">
            <button class="btn btn-secondary" type="submit">Сохранить</button>
          </div>
        </form>

        <div class="" *ngIf="createCategorySubmitted">
          <h3 class="title">{{message}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #categoryDeleteModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="CategoryCreateModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Хотите удалить категорию</h4>
        <button class="close" type="button" aria-label="Закрыть" (click)="categoryDeleteModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="deleteCategory" *ngIf="!deleteCategorySubmitted" (ngSubmit)="deleteCategoryOnSubmit(deleteCategory)" novalidate>
          <div class="form-group">
            <label class="sr-only" for="categoryCreateInputName">Название</label>
            <input class="form-control" id="categoryCreateInputName" formControlName="id" type="text" placeholder="Название">
          </div>
          <div class="text-center">
            <button class="btn btn-secondary" type="submit">Да</button>
            <button class="btn btn-secondary" (click)="categoryDeleteModal.hide()" type="button">Нет</button>
          </div>
        </form>

        <div class="" *ngIf="deleteCategorySubmitted">
          <h3 class="title">{{message}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #createModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="ProductCreateModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Добавить товар</h4>
        <button class="close" type="button" aria-label="Закрыть" (click)="createModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createForm" *ngIf="!createProductSubmitted" (ngSubmit)="createOnSubmit(createForm)" novalidate>
          <div class="form-group">
            <label class="sr-only" for="createInputName">Название</label>
            <select class="custom-select form-control" formControlName="category">
              <option selected value="">Категория</option>
              <option *ngFor="let category of $categories | async" [value]="category.category_id">
                {{category.name}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="sr-only" for="createInputName">Название</label>
            <input class="form-control" id="createInputName" formControlName="name" type="text" placeholder="Название">
          </div>
          <div class="form-group">
            <label class="sr-only" for="createInputSalePrice">Закупочная стоимость</label>
            <input class="form-control" id="createInputSalePrice" formControlName="salePrice" type="text" placeholder="Закупочная стоимость">
          </div>
          <div class="form-group">
            <label class="sr-only" for="createInputPrice">Розничная цена</label>
            <input class="form-control" id="createInputPrice" formControlName="price" type="text" placeholder="Розничная цена">
          </div>
          <div class="text-center">
            <button class="btn btn-secondary" type="submit">Сохранить</button>
          </div>
        </form>

        <div class="" *ngIf="createProductSubmitted">
          <h3 class="title">{{message}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
